In [2]:
# Earth Engine Python APIのインポート
import ee
# GEEの認証・初期化
ee.Authenticate()
ee.Initialize()
from google.colab import drive
drive.mount('/content/drive')

To authorize access needed by Earth Engine, open the following URL in a web browser and follow the instructions. If the web browser does not start automatically, please manually browse the URL below.

    https://code.earthengine.google.com/client-auth?scopes=https%3A//www.googleapis.com/auth/earthengine%20https%3A//www.googleapis.com/auth/devstorage.full_control&request_id=Yc3usFlhZ7dDcxfqWE4JADY13uz0bwDlhABmAUevHW8&tc=vkn8oHtPeZSQyzl6ATjKVnWAITlHcFM-kxfs4iILlfU&cc=2AhhKHM396PBhIbg3qz5Ph3CAGZXLxTf0HeSzj82JyM

The authorization workflow will generate a code, which you should paste in the box below.
Enter verification code: 4/1AdQt8qjXjebEuTr1zw8nWGiWRmAY4ad0c8CJSKJFn0TcdNpQxTMgMlC3ADE

Successfully saved authorization token.
Mounted at /content/drive

In [3]:
import numpy as np

In [4]:
jpn_data = ee.FeatureCollection("users/halogen322/jpn_prefecture")
# jpn_data = ee.FeatureCollection("users/halogen322/japan_region_poligon")

In [34]:
# print(jpn_data.propertyNames())
# // A global power plant FeatureCollection.
# fc = ee.FeatureCollection('WRI/GPPD/power_plants');

# # // View a list of FeatureCollection property names.
# print(fc.propertyNames());

In [5]:
class CFG:
  target_satellite =  'COPERNICUS/S5P/NRTI/L3_CLOUD'
  target_band = 'cloud_fraction'
  start_year = 2020
  end_year = 2021
  target_col = ["name", "pref", "mean"]
  target_polygon = jpn_data
  filen_name = "cloud_" 

  PRODUCTION = False
  OUT_PUTPATH = 'cloud_csv_data'

In [6]:
# 月ごとの値を算出
filter_range = ee.Filter.date(
  '2019-06-1T16:00', 
  '2019-06-2T08:00'
)
dataset = ee.ImageCollection(CFG.target_satellite).select('cloud_fraction').filter(filter_range)

In [7]:
print(dataset)

ee.ImageCollection({
  "functionInvocationValue": {
    "functionName": "Collection.filter",
    "arguments": {
      "collection": {
        "functionInvocationValue": {
          "functionName": "Collection.map",
          "arguments": {
            "baseAlgorithm": {
              "functionDefinitionValue": {
                "argumentNames": [
                  "_MAPPING_VAR_0_0"
                ],
                "body": {
                  "functionInvocationValue": {
                    "functionName": "Image.select",
                    "arguments": {
                      "bandSelectors": {
                        "constantValue": [
                          "cloud_fraction"
                        ]
                      },
                      "input": {
                        "argumentReference": "_MAPPING_VAR_0_0"
                      }
                    }
                  }
                }
              }
            },
            "collection": {
              "functionInvocationValue": {
                "functionName": "ImageCollection.load",
                "arguments": {
                  "id": {
                    "constantValue": "COPERNICUS/S5P/NRTI/L3_CLOUD"
                  }
                }
              }
            }
          }
        }
      },
      "filter": {
        "functionInvocationValue": {
          "functionName": "Filter.dateRangeContains",
          "arguments": {
            "leftValue": {
              "functionInvocationValue": {
                "functionName": "DateRange",
                "arguments": {
                  "end": {
                    "constantValue": "2019-06-2T08:00"
                  },
                  "start": {
                    "constantValue": "2019-06-1T16:00"
                  }
                }
              }
            },
            "rightField": {
              "constantValue": "system:time_start"
            }
          }
        }
      }
    }
  }
})

In [8]:
def get_date(image):
  ee_date = ee.Date(image.get('system:time_start'))
  print('Timestamp:', ee_date.getInfo())  # ee.Date
  return ee_date

In [ ]:
dates = dataset.map(get_date)

In [9]:
reducers = ee.Reducer.mean();

def ntl(image):
  pas = image.reduceRegions(
    collection=CFG.target_polygon,  
    reducer=reducers,  
    scale=500);
  return pas;



def export_table(table, description):
  task = ee.batch.Export.table.toDrive(**{ 
    'collection': ee.FeatureCollection(table), 
    'description': description,
    'folder':CFG.OUT_PUTPATH, 
    'selectors':(CFG.target_col),
  })
  if CFG.PRODUCTION:
    task.start()
  print(f'export {description} file complete!')

In [10]:
CFG.PRODUCTION = True

In [16]:
CFG.start_day = 1
CFG.end_day = 31

In [17]:
for day in np.arange(CFG.start_day, CFG.end_day, 1, dtype='int'):
  print(str(day) + ' day start!')

  # for time in np.arange(1, 24, 1):
  #   print(str(day) + '/' + str(time))

  # 月ごとの値を算出
  filter_range = ee.Filter.date(
    str(2022) + '-' + str(6) + '-' + str(day), 
    str(2022) + '-' + str(6) + '-' + str(day) + "T23:59")

  # 日付を決定する
  dataset = ee.ImageCollection(CFG.target_satellite).filter(filter_range)

  # 対象バンドの選択
  surfaceAirTemperature = dataset.select(CFG.target_band)
  now_img = ntl(surfaceAirTemperature.mean())
  
  # 月のデータをダウンロード
  # export_table(now_img, CFG.filen_name + str(day) + '-' + str(time));
  export_table(now_img, CFG.filen_name + str(6) + "_" + str(day));

1 day start!
export cloud_6_1 file complete!
2 day start!
export cloud_6_2 file complete!
3 day start!
export cloud_6_3 file complete!
4 day start!
export cloud_6_4 file complete!
5 day start!
export cloud_6_5 file complete!
6 day start!
export cloud_6_6 file complete!
7 day start!
export cloud_6_7 file complete!
8 day start!
export cloud_6_8 file complete!
9 day start!
export cloud_6_9 file complete!
10 day start!
export cloud_6_10 file complete!
11 day start!
export cloud_6_11 file complete!
12 day start!
export cloud_6_12 file complete!
13 day start!
export cloud_6_13 file complete!
14 day start!
export cloud_6_14 file complete!
15 day start!
export cloud_6_15 file complete!
16 day start!
export cloud_6_16 file complete!
17 day start!
export cloud_6_17 file complete!
18 day start!
export cloud_6_18 file complete!
19 day start!
export cloud_6_19 file complete!
20 day start!
export cloud_6_20 file complete!
21 day start!
export cloud_6_21 file complete!
22 day start!
export cloud_6_22 file complete!
23 day start!
export cloud_6_23 file complete!
24 day start!
export cloud_6_24 file complete!
25 day start!
export cloud_6_25 file complete!
26 day start!
export cloud_6_26 file complete!
27 day start!
export cloud_6_27 file complete!
28 day start!
export cloud_6_28 file complete!
29 day start!
export cloud_6_29 file complete!
30 day start!
export cloud_6_30 file complete!

In [18]:
for day in np.arange(CFG.start_day, CFG.end_day, 1, dtype='int'):
  print(str(day) + ' day start!')

  # for time in np.arange(1, 24, 1):
  #   print(str(day) + '/' + str(time))

  # 月ごとの値を算出
  filter_range = ee.Filter.date(
    str(2022) + '-' + str(7) + '-' + str(day), 
    str(2022) + '-' + str(7) + '-' + str(day) + "T23:59")

  # 日付を決定する
  dataset = ee.ImageCollection(CFG.target_satellite).filter(filter_range)

  # 対象バンドの選択
  surfaceAirTemperature = dataset.select(CFG.target_band)
  now_img = ntl(surfaceAirTemperature.mean())
  
  # 月のデータをダウンロード
  # export_table(now_img, CFG.filen_name + str(day) + '-' + str(time));
  export_table(now_img, CFG.filen_name + str(7) + "_" + str(day));

1 day start!
export cloud_7_1 file complete!
2 day start!
export cloud_7_2 file complete!
3 day start!
export cloud_7_3 file complete!
4 day start!
export cloud_7_4 file complete!
5 day start!
export cloud_7_5 file complete!
6 day start!
export cloud_7_6 file complete!
7 day start!
export cloud_7_7 file complete!
8 day start!
export cloud_7_8 file complete!
9 day start!
export cloud_7_9 file complete!
10 day start!
export cloud_7_10 file complete!
11 day start!
export cloud_7_11 file complete!
12 day start!
export cloud_7_12 file complete!
13 day start!
export cloud_7_13 file complete!
14 day start!
export cloud_7_14 file complete!
15 day start!
export cloud_7_15 file complete!
16 day start!
export cloud_7_16 file complete!
17 day start!
export cloud_7_17 file complete!
18 day start!
export cloud_7_18 file complete!
19 day start!
export cloud_7_19 file complete!
20 day start!
export cloud_7_20 file complete!
21 day start!
export cloud_7_21 file complete!
22 day start!
export cloud_7_22 file complete!
23 day start!
export cloud_7_23 file complete!
24 day start!
export cloud_7_24 file complete!
25 day start!
export cloud_7_25 file complete!
26 day start!
export cloud_7_26 file complete!
27 day start!
export cloud_7_27 file complete!
28 day start!
export cloud_7_28 file complete!
29 day start!
export cloud_7_29 file complete!
30 day start!
export cloud_7_30 file complete!

In [21]:
target_path = "/content/drive/MyDrive/cloud_csv_data"

In [25]:
import pandas as pd
df = pd.DataFrame()
for month in [6, 7]:
  for day in np.arange(CFG.start_day, CFG.end_day, 1, dtype='int'):
    print(f"{month}-{day}")
    _df = pd.read_csv(f"/content/drive/MyDrive/cloud_csv_data/cloud_{month}_{day}.csv")
    _df["date"] = f"2022-0{month}-{day}"
    _df = _df.query("pref == 13")
    df = pd.concat([df, _df], axis=0)

7-27
7-28
7-29
7-30

In [28]:
df["date"] = pd.to_datetime(df["date"])
df.head()

   name  pref      mean       date
12  ???    13  0.492974 2022-06-01
12  ???    13  0.286388 2022-06-02
12  ???    13  0.810937 2022-06-03
12  ???    13  0.472123 2022-06-04
12  ???    13  0.767391 2022-06-05

In [31]:
df[["date", "mean"]].to_csv("./tokyo_cloud.csv", index=False)